[project]
	description = For class project homework 5
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wenyi (wangwy1105)
[access "refs/for/refs/*"]
	read = group user/Wenyi (wangwy1105)
	push = group user/Wenyi (wangwy1105)
	label-Code-Review = -2..+2 group user/Wenyi (wangwy1105)
	label-Verified = -1..+1 group user/Wenyi (wangwy1105)
	rebase = group user/Wenyi (wangwy1105)
	removeReviewer = group user/Wenyi (wangwy1105)
	submit = group user/Wenyi (wangwy1105)
[access "refs/heads/*"]
	read = group user/Wenyi (wangwy1105)
	create = group user/Wenyi (wangwy1105)
	push = +force group user/Wenyi (wangwy1105)
	pushMerge = group user/Wenyi (wangwy1105)
[access "refs/tags/*"]
	push = +force group user/Wenyi (wangwy1105)
	pushTag = group user/Wenyi (wangwy1105)
	pushSignedTag = group user/Wenyi (wangwy1105)
